<<<<<<< HEAD
.filters {
    background-color: white;
=======
.container .filters {
    position: relative;
    background: white;
>>>>>>> 3be6b736b343528875751ac562c2e09313399515
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
<<<<<<< HEAD
    display: flex;
    align-items: center;
}

section.filters > button{
    font-size: 18px;
    color: white;
    background-color: #FF5A5F;
    height: 48px;
    border: 0px;
    border-radius: 4px;
    width: 20%;
    margin-left: auto;
    margin-right: 30px;
    opacity: 1;
}

section.filters > button:hover {
    opacity: 0.9;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    padding-left: 50px;
}

.locations {
    border-right: 1px solid #DDDDDD;
}
.locations > h3, .amenities > h3 {
    font-weight: 600;
    margin: 12px 0 5px 0;
}

.locations > h4, .amenities > h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 5px 0;
}

.popover {
    display: none;
    position: relative;
    left: -51px;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    z-index: 1;
    padding: 30px 50px 30px 0;
    margin-top: 17px;
}

.popover, .popover ul {
    list-style-type: none;
}
.locations:hover > .popover {
    display: block;
}

.amenities:hover > .popover {
    display: block;
}

.popover h2 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.locations > .popover > li {
    margin-bottom: 30px;
    margin-left: 30px;
}
.locations > .popover > li > ul {
    padding-left: 20px;
}
.locations > .popover > li > ul > li {
    margin-bottom: 10px;
}

.amenities > .popover > li {
    margin-left: 50px;
    margin-bottom: 10px;
=======
}
button {
    position: absolute;
    font-size: 18px;
    background: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-style: none;
    border-radius: 4px;
    top: 15%;
    right: 30px;
}
button:hover {
    opacity: 0.9;
}
.filters div {
    display: inline-grid;
}
.filters h2 {
    margin-left: 15%;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
}
.filters h3 {
    margin-left: 15%;
    margin-bottom: 0;
    font-weight: 600;
}
.filters h4 {
    margin-left: 15%;
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
}
.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
}
.amenities {
    height: 100%;
    width: 25%;
}
.popover {
    visibility: hidden;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background: #FAFAFA;
    padding-bottom: 25px;
}
.amenities .popover {
    padding: 20px 0;
    margin-left: -5px;
    margin-top: 1%;
}
.locations .popover {
    margin-top: 1%;
}
.popover ul {
    list-style-type: none;
}
.amenities:hover .popover,
.locations:hover .popover {
    visibility: visible;
>>>>>>> 3be6b736b343528875751ac562c2e09313399515
}
